@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
.p_text {
    font-family: 'Oswald', sans-serif;
    font-weight: 400; 
    font-size: 2rem;
    color: black;
    margin-top: 20px;
  } 

.war-container {
    position: relative;
    width: 98vw;
    height: 95vh;
    
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .letter-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .letter {
    margin-top: 5%;
    width: 50vw;
    height: 100vh;
    position:relative ;
  }
  .hints-container {
    position: fixed; /* Makes the hints fixed in place */
    top: 2.5%; /* Aligns it vertically from the top of the viewport */
    margin-left: 35%;
    display: flex;
    flex-direction: column; /* Ensure content inside stacks vertically */
    padding: 5px;
    border-radius: 50px; /* Optional: Rounded corners for styling */
    overflow-y: auto; /* Add scroll if content overflows */
    
  }
  .hint-text {
    display: none; /* Initially hide the text */
    position: absolute;
    top: 100%; /* Position the text below the image */
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8); /* Dark background for the text */
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 5px;
  }
  .hint_guy{
    border: 1px solid black; /* Adds a solid black border */
    background-color: rgba(0, 0, 0, 0.9); /* Optional: Adds a light background for contrast */
  }
  .hint-container:hover .hint-text {
    display: block; /* Show the text when the image is hovered */
  }
  