@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#homeEnableGameText:hover i {
    animation: homeEnableGameTextHover 0.8s;
}

#homeTimestamp1 {
    animation: timestampMovement 5s infinite linear;
}

#homeTimestamp2 {
    animation: timestampMovement 5s infinite linear;
    animation-delay: 2.5s;
}

@keyframes homeEnableGameTextHover {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes timestampMovement {
    0% {
        width: 100%;
        opacity:0;
    }
    5% {
        opacity:1;
    }
    95% {
        opacity:1;
    }
    100% {
        width: 0%;
        opacity:0;
    }
}